<button (click)="getItems()">GetProductsList</button>
<button routerLink="/add">Add Product</button>

<!-- {{productArray | json}} -->

<!-- <ul>
    <li *ngFor="let product of productArray">
       {{ product.name }}
       {{ product.quantity }}
       {{ product.price }}
    </li>
  </ul> -->
<table border="1" width="60%" cellspacing="0" cellpadding="10">
  <thead>
    <tr>
      <th>Number</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let product of productArray; let i = index; let even = even"
      [ngClass]="{ 'even-row': even, 'odd-row': !even }"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.price > 1000 ? "Expensive" : "Affordable" }}</td>
      <td>
        <button (click)="viewProduct(product)">View</button>

        <button [routerLink]="'/add/' + product._id">Update Product</button>

        <button (click)="delete(product._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
